.button{

    background: #0077FF;
    padding : 10px 20px;
    border : none;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    font-size: 18;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.button:hover{
 background: #014a9c;
}
.arrow{
    margin-left: 10px;
}